*{
	box-sizing: border-box;
}
body{
	margin: 0;
}
/*@media screen and (max-width: 992px) {} */

/*Начало первой секции*/

.section_0{
	display: flex-box;
	height: 100vh;
	background-image: url(img/bg_1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.section_0 header{
	margin: 0 20% 0 20%;
	padding-top:1vh;
    justify-content: space-between;
    display: flex;
}

.section_0 header span.menu{
	font-size: 3em;
	color: #fff;
	vertical-align:top;
}
.logo img{
 	padding-top: 10px;
}


.section_0 div.text{
	margin:30vh 20% 0 20%;
	color: white;	
	text-transform: uppercase;
}

.section_0 .text h4{
	font-family: Georgia, serif;
	font-size: 2em;
	letter-spacing:3px;
	margin-bottom: -2em;
}
.section_0 .text h3{
	font-family: Georgia, bold;
	font-size: 4.5em;
	font-weight: 900;
	letter-spacing:5px;
	margin-bottom: -0.25em;
}
.section_0 .text h5{
	font-family: 'Raleway', normal;
	font-size: 1.25em;
	letter-spacing:3px;
	font-weight: bold;
}
/*Начало первой секции*/

.section_1{
	background: #FFFFFF;
	display: flex;
	padding:10% 20% 15% 20%;
}

.section_1 h3{
	font-family: Georgia, serif;
	text-align: center;
}
.section_1 p{
	font-family: Open Sans, system-ui;
	font-size: 10pt;
	text-align: center;
}
.section_1 .element .img{
	display: flex;
	flex-direction: row;
    justify-content: center;
    align-items:center;
	height: 166px;
	width: 166px;
	margin:0 auto;
}
.section_1 .element:hover .img{
	fill:white;
	border-radius: 50%;
	background: rgba(255,0,0,0.7);
}

/*Начало второй секции*/

.section_2{
	position: relative;
	height: 70vh;
	background-image: url(img/bg_2.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.section_2 img.phone{
	height:50vh;
	position: absolute;
	bottom:0;
	left: 15%;
}
.section_2 .text{
	position: absolute;
	top: 20%;
	left: 35%;
}
.section_2 h2,a{
	color: white;
	font-family: Georgia, serif;
	font-size: 2em;
	font-weight: normal;
}
.section_2 p{
	color: white;
	font-family: Open Sans, system-ui;
	font-size: 12pt;
	letter-spacing:0.5px;
}
.section_2  a img.arrow{
	width: 20px;
	vertical-align: top;
}

.section_2 .text a.read_more{
	text-decoration: none;
	font-size: 1em;
}
/*Начало Третей секции*/
.section_3 {
	margin:0 20%;
}
.section_3 header h2{
	color: #444;
	font-family: Georgia, serif;
	font-size: 2em;
	font-weight: normal;
	text-align: center;
}
.section_3 header p{
	color: #666;
	font-family: Open Sans, system-ui;
	font-size: 9pt;
	letter-spacing:0.5px;
	text-align: center;
	margin-bottom: 1.5em;
}
.section_3 header hr{
	padding:0 20%;
	width: 10px;
}
.section_3 .icons{
	color: #6b6b6b;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 5%;
}
.section_3 .icons .elem{
	width: 50%;
	flex: 1 1 300px;
	max-width: 400px;
}
.section_3 .icons .elem i{
	float: left;
	padding-right: 20px;

}

/* Начало Четвертой секции */
.section_4{
	background-image: url(img/bg_3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	-height: 80vh;
	position: relative;
	display: flex;
	align-items: center;
	flex-direction:column;

/*display: flex;
	justify-content: center;
	flex-wrap: wrap;
	*/
}
.section_4 h2{
	color: #FFFFFF;
	font-family: Georgia, serif;
	font-size: 2em;
	font-weight: normal;
}
.section_4 img{
	position: absolute;
	bottom: 0;	
	height:70%;
}
.section_4 div.text{
	margin:10% 20%;
	height: 100%;
	color: #FFFFFF;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.section_4 div.text p:nth-child(even){
	width: 40%;
	text-align: right;
}
.section_4 div.text p:nth-child(odd){
	width: 40%;
	text-align: left;
}
/*Начало Пятой Секции */
.section_5 {
	margin:10% 19%;
}
.section_5 header h2{
	color: #444;
	font-family: Georgia, serif;
	font-size: 2em;
	font-weight: normal;
	text-align: center;
}
.section_5 header p{
	color: #666;
	font-family: Open Sans, system-ui;
	font-size: 9pt;
	letter-spacing:0.5px;
	text-align: center;
	margin-bottom: 1.5em;
}
.section_5 header hr{
	padding:0 20%;
	width: 10px;
}
.section_5 .skills{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: space-around;
	justify-content: space-between;
}
.section_5 .skills .elem{
	width: 250px;
	height: 250px;
	background: #2d2d2d;
	margin-top: 5%;
	color: white;
	/*display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;*/
	padding-top: 2em;
	text-align: center;
}
.section_5 .skills .elem:hover{
	background: #e55454;
}
.section_5 .skills .elem h4{
	text-transform: uppercase;
}
.section_5 .skills .elem p{
	font-family: Open Sans;
	text-align: center;
	font-size: 9pt;
}
.section_5 .skills .elem .icon{
	margin: 10px;
}

/*Начало Шестой Секции */
.section_6-progress {
	padding:0 20%;
	color: #fff;
	font-family: Georgia, serif;
	background-image: url(img/bg_4.jpg);
}
.section_6-progress-title{
	padding-top: 10%;
	padding-bottom: 2%;
	font-family: Georgia, serif;
	font-size: 2em;
	font-weight: normal;
	text-align: center;
}
.section_6-progress-subtitle{
	color: #fff;
	font-family: Open Sans, system-ui;
	font-size: 9pt;
	letter-spacing:0.5px;
	text-align: center;
	margin-bottom: 1.5em;
}
.section_6-progress__ring{
	display: flex;
	justify-content: space-between;
}
.section_6-progress__ring-item{
	margin-top: 10%;
	flex-direction: column;
	justify-content: space-between;

}
.section_6-progress__ring-item svg{
	width: 200px;
	height: 200px;
}
.item-1 .progress-ring__circle{
	transform-origin: center;
	transform: rotate(180deg);
	stroke-linecap:butt;
	stroke-dasharray:578,578;
	stroke-dashoffset:387;
}
.item-2 .progress-ring__circle{
	transform-origin: center;
	transform: rotate(90deg);
	stroke-linecap:butt;
	stroke-dasharray:578,578;
	stroke-dashoffset:173;
}
.item-3 .progress-ring__circle{
	transform-origin: center;
	transform: rotate(135deg);
	stroke-linecap:butt;
	stroke-dasharray:578,578;
	stroke-dashoffset:289;
}
.section_6-progress__ring-item-name{
	padding-top: 5px;
	padding-bottom: 20%;
	font-size: 12pt;
	text-align: center;
	text-transform: uppercase;

}
.section_6-progress__ring-item-position{
	position: relative;
}
.section_6-progress__ring-item-percent{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: Georgia, serif;
	font-size: 35pt;
	text-align: center;
}
/* === team ===*/
.section_7-team{
	color: #c6c8cd;
	width: 940px;
	margin: 0 auto;
}
.section_7-team-title{
	padding-top: 10%;
	padding-bottom: 2%;
	font-family: Georgia, serif;
	font-size: 2em;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	color:black;
}
.section_7-team-subtitle{
	font-family: Open Sans, system-ui;
	font-size: 9pt;
	letter-spacing:0.5px;
	text-align: center;
	border-bottom: 1px solid #c6c8cd;
	width: 960px;
	padding-bottom: 20px;
	color:black;
}
.section_7-team-items{
	display: flex;
	padding-top: 90px;
	text-align: center;
}
.section_7-team-item{
	
}
.section_7-team-item-title{
	color:black;
	text-transform: uppercase;
	font-size: 14px;
	padding-top: 35px;
}
.section_7-team-item-subtitle{
	padding-top: 4px;
}
.section_7-team-item-description{
	padding-top: 20px;
}
.section_7-team-item-contacts{
	padding-top: 34px;
	padding-bottom: 84px;
}
.section_7-team-item-contacts i + i{
	padding-left: 20px;
}
/* === /team ===*/