body{
	margin: 0;
}
header{
	position: relative;
	height: 100vh;
	background-image: url(img/bg_1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.logo img{

	position: absolute;
	top: 40px;
	left: 20%;
	
}
.menu img{
	position: absolute;
	top: 45px;
	left: 70%;
}
header div.text{
	position: absolute;
	left: 20%;
	top: 40vh;
}
header .text p{
	color: white;	
	text-transform: uppercase;
	margin: 0 0  0.5em 0;
}
header .text p:nth-child(1){
	font-family: Georgia, serif;
	font-size: 2em;
	letter-spacing:5px;
}
header .text p:nth-child(2){
	font-family: Georgia, bold;
	font-size: 4.5em;
	font-weight: 900;
	letter-spacing:5px;
}
header .text p:nth-child(3){
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	letter-spacing:3px;
}
.section_1{
	height: 70vh;
	background: ##FFFFFF;
	display: flex;
	flex-direction: row;
    justify-content: center;
    align-items:center;
    padding-left: 20%;
    padding-right: 20%;

}
.section_1 div{
	width: 150px;
	margin: 0 auto;
}
.section_1 h3{
	font-family: Georgia, serif;
	text-align: center;
}
.section_1 p{
	font-family: Open Sans, system-ui;
	font-size: 10pt;
	text-align: center;
}
.elem img{
	padding: 0 50px 50px 50px;
}

.section_2{
	position: relative;
	height: 70vh;
	background-image: url(img/bg_2.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.section_2 img.phone{
	width: 15%;
	position: absolute;
	bottom:0;
	left: 15%;
}
.section_2 h2,a{
	color: white;
	font-family: Georgia, serif;
	
	font-size: 2em;
	font-weight: normal;
}
.section_2 p{
	color: white;
	font-family: Open Sans, system-ui;
	font-size: 12pt;
	letter-spacing:0.5px;
}
.section_2  a img{
	width: 20px;
	vertical-align: top;
}
.section_2 .text{
	position: absolute;
	top: 27%;
	left: 35%;
}
.section_2 .text a{
	text-decoration: none;
	font-size: 1em;
}