*{
	box-sizing: border-box;
}
body{
	margin: 0;
}
/*@media screen and (max-width: 992px) {} */

/*Начало нулевой секции*/

.section_0{
	height: 100vh;
	padding-left: 20px;
	padding-right: 20px;
	background-image: url(img/bg_1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.section_0 header{
    margin: 0 auto;
    max-width: 960px;
	padding-top:1vh;
    justify-content: space-between;
    display: flex;
}

.section_0 header span.menu{
	font-size: 3em;
	color: #fff;
	vertical-align:top;
	cursor: pointer;
}
.logo img{
 	padding-top: 10px;
}
.section_0 .content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
}

.section_0 .content .text{
	margin:0 auto;
	width: 960px;
	text-align: left;
	color: white;	
	text-transform: uppercase;
	font-family: Georgia;
}

.section_0 .text .h4{
/*	font-family: Georgia, serif;
	font-size: 2em;
	letter-spacing:3px;*/
	font-family: Georgia, regular;
	font-size: 5vw;
	font-weight: 400;
	letter-spacing:5px;
}
.section_0 .text .h3{
	margin-top: 45px;
	font-family: Georgia, bold;
	font-size: 10vw;
	font-weight: 700;
	letter-spacing:5px;
}
.section_0 .text .h5{
	margin-top: 45px;
	font-family: "Open Sans";
	font-size: 26px;
	font-weight: 400;
	line-height: 40px;
	text-transform: uppercase;
}
/*Начало первой секции*/

.section_1{
	background: #FFFFFF;
	display: flex;
	justify-content: center;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 10px;
	padding-right: 10px;
}
.section_1 .section-inner{
	display: flex;
	flex-wrap: wrap;
    justify-content: space-evenly;
    /*max-width:960px;*/
}
.section_1 .element{
	width: 205px;
	height: 300px;
}
.section_1 .element + .element{
	padding-left: 10px;
}
.section_1 .element h3 {
	font-family: Georgia, serif;
	text-align: center;
}
.section_1 .element p{
	font-family: Open Sans, system-ui;
	font-size: 10pt;
	text-align: center;
	color: #666;
}
.section_1 .element .img{
	display: flex;
    justify-content: center;
    align-items:center;
    flex:1;
	height: 166px;
	width: 166px;
	margin:0 auto;
}
.section_1 .element:hover .img{
	fill:white;
	border-radius: 50%;
	background: rgba(255,0,0,0.7);
}

/*Начало второй секции*/

.section_2{
	position: relative;
	height: 70vh;
	background-image: url(img/bg_2_phone.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.section_2 img.phone{
	height:50vh;
	position: absolute;
	bottom:0;
	left: 15%;
}
.section_2 .text{
	position: absolute;
	top: 20%;
	left: 35%;
}
.section_2 h2,a{
	color: white;
	font-family: Georgia, serif;
	font-size: 2em;
	font-weight: normal;
}
.section_2 p{
	color: white;
	font-family: Open Sans, system-ui;
	font-size: 12pt;
	letter-spacing:0.5px;
}


.section_2 .text a.read_more{
	text-decoration: none;
	font-size: 1em;
}
/*Начало Третей секции*/
.section_3 {
	max-width: 899px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}
.section_3 header h2{
	color: #444;
	font-family: Georgia, serif;
	font-size: 2em;
	font-weight: normal;
	text-align: center;
}
.section_3 header p{
	color: #666;
	font-family: Open Sans, system-ui;
	font-size: 9pt;
	letter-spacing:0.5px;
	text-align: center;
	margin-bottom: 1.5em;
}
.section_3 header hr{
	padding:0 20%;
	width: 10px;
}
.section_3 .icons{
	color: #6b6b6b;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 5%;
}
.section_3 .icons .elem{
	width: 50%;
	flex: 1 1 300px;
	max-width: 400px;
}
.section_3 .icons .elem i{
	float: left;
	padding-right: 20px;

}
.section_3 .icons .elem:hover i{
	color: #e54c4c;
}
/* Начало Четвертой секции */
.section_4{
	background-image: url(img/bg_3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	-height: 80vh;
	position: relative;
	display: flex;
	align-items: center;
	flex-direction:column;

/*display: flex;
	justify-content: center;
	flex-wrap: wrap;
	*/
}
.section_4 h2{
	color: #FFFFFF;
	font-family: Georgia, serif;
	font-size: 2em;
	font-weight: normal;
}
.section_4 img{
	position: absolute;
	bottom: 0;	
	height:70%;
}
.section_4 div.text{
	margin:10% 20%;
	height: 100%;
	color: #FFFFFF;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.section_4 div.text p:nth-child(even){
	width: 40%;
	text-align: right;
}
.section_4 div.text p:nth-child(odd){
	width: 40%;
	text-align: left;
}
/*Начало Пятой Секции */
.section_5 {
	margin-top:10%;
	margin-bottom: 10%;
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right:10px;
}
.section_5 header h2{
	color: #444;
	font-family: Georgia, serif;
	font-size: 2em;
	font-weight: normal;
	text-align: center;
}
.section_5 header p{
	color: #666;
	font-family: Open Sans, system-ui;
	font-size: 9pt;
	letter-spacing:0.5px;
	text-align: center;
	margin-bottom: 1.5em;
}
.section_5 header hr{
	padding:0 20%;
	width: 10px;
}
.section_5 .skills{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: space-around;
	justify-content: space-evenly;
}
.section_5 .skills .elem{
	width: 250px;
	height: 250px;
	background: #2d2d2d;
	margin-top: 5%;
	color: white;
	/*display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;*/
	padding-top: 2em;
	text-align: center;
}
.section_5 .skills .elem:hover{
	background: #e55454;
}
.section_5 .skills .elem h4{
	text-transform: uppercase;
}
.section_5 .skills .elem p{
	font-family: Open Sans;
	text-align: center;
	font-size: 9pt;
	padding-left: 10px;
	padding-right: 10px;
}
.section_5 .skills .elem .icon{
	margin: 10px;
}

/*=== progress === */
.section_6-progress {
	color: #fff;
	font-family: Georgia, serif;
	background-image: url(img/bg_4.jpg);
}
.section-inner{
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.section_6-progress-title{
	padding-top: 10%;
	padding-bottom: 2%;
	font-family: Georgia, serif;
	font-size: 2em;
	font-weight: normal;
	text-align: center;
}
.section_6-progress-subtitle{
	color: #fff;
	font-family: Open Sans, system-ui;
	font-size: 9pt;
	letter-spacing:0.5px;
	text-align: center;
	margin-bottom: 1.5em;
}
.section_6-progress__ring{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.section_6-progress__ring-item{
	margin-top: 10%;
	flex-direction: column;
	justify-content: space-between;

}
.section_6-progress__ring-item svg{
	width: 200px;
	height: 200px;
}
.item-1 .progress-ring__circle{
	transform-origin: center;
	transform: rotate(180deg);
	stroke-linecap:butt;
	stroke-dasharray:578,578;
	stroke-dashoffset:387;
}
.item-2 .progress-ring__circle{
	transform-origin: center;
	transform: rotate(90deg);
	stroke-linecap:butt;
	stroke-dasharray:578,578;
	stroke-dashoffset:173;
}
.item-3 .progress-ring__circle{
	transform-origin: center;
	transform: rotate(135deg);
	stroke-linecap:butt;
	stroke-dasharray:578,578;
	stroke-dashoffset:289;
}
.section_6-progress__ring-item-name{
	padding-top: 5px;
	padding-bottom: 40%;
	font-size: 12pt;
	text-align: center;
	text-transform: uppercase;

}
.section_6-progress__ring-item-position{
	position: relative;
}
.section_6-progress__ring-item-percent{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: Georgia, serif;
	font-size: 35pt;
	text-align: center;
}
/*=== /progress === */

/* === team ===*/
.section_7-team{
	color: #c6c8cd;
	max-width: 940px;
	margin: 0 auto;
}
.section_7-team-title{
	padding-top: 10%;
	padding-bottom: 2%;
	font-family: Georgia, serif;
	font-size: 2em;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	color:black;
}
.section_7-team-subtitle{
	font-family: Open Sans, system-ui;
	font-size: 9pt;
	letter-spacing:0.5px;
	text-align: center;
	border-bottom: 1px solid #c6c8cd;
	padding-bottom: 20px;
	color:black;
}
.section_7-team-items{
	display: flex;
	padding-top: 90px;
	text-align: center;
}
.section_7-team-item{
		font-family: Georgia, serif;
}
.section_7-team-item-title{
	color:black;
	text-transform: uppercase;
	font-size: 14px;
	padding-top: 35px;
}
.section_7-team-item-subtitle{
	font-size: 14px;
	padding-top: 4px;
}
.section_7-team-item-description{
	font-family: Open Sans, system-ui;
	padding-top: 20px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 13px;
}
.section_7-team-item-contacts{
	padding-top: 34px;
	padding-bottom: 84px;
}
.section_7-team-item-contacts i + i{
	padding-left: 20px;
}
/* === /team ===*/

/* === footer ===*/
.section_8-footer{
	background: url(img/bg_footer.png) no-repeat;
	background-size: cover;
	color: #fff;
	text-align: center;

}
.section_8-footer-subtitle{
	background: #e54c4c;
	padding: 44px 0 44px; 
	color: #fff;
	font-size: 1.5em;
	line-height: 28pt;
}
.section_8-footer-subtitle  i{
	padding-left: 5%;
}
.section_8-footer-form{
	padding-top: 80px;
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.section_8-footer-form-input{
	width: 48%;
}
.section_8-footer-form-input input{

}
.section_8-footer-form-text_area{
	width: 100%;
	padding-top: 43px;
	height: 200px;
}
.section_8-footer-form-text_area textarea{
}
.section_8-footer-form-button {
	padding-top: 43px;
	width: 100%;
}
.section_8-footer-form-button button{
	background: #e54c4c;
	color: #fff;
	text-transform: uppercase;
: Georgia, serif;
	letter-spacing: .1rem;
	font-size: 14px;

}
.section_8-footer-form-input input,
.section_8-footer-form-text_area textarea,
.section_8-footer-form-button button{
	border-radius: 4px;	
	border: none;
	padding: 15px 20px;
	width: 100%;
	height: 100%;
}
.section_8-footer-title{
	padding-top: 40px;
	font-size: 48px;
	text-transform: uppercase;
}
.section_8-footer-description{
	padding: 20px 15% 20px;
	font-size: 13px;
	line-height: 22px;
	font-family: Open Sans, system-ui;
	text-align: center;
}
.section_8-footer-logo{
	padding-top: 70px;
	padding-bottom: 20px;
}
.section_8-footer-constacts i + i{
	padding-left: 30px;
}
.section_8-footer-copyright{
	margin-top: 70px;
	font-family: Georgia, serif;
	font-size: 13px;
	background: #131313;
	padding:20px 0;
}
/* === /footer ===*/